.DS_Store
header.tmp
a.out
/Implementations/build/
Implementations/kactl.pdf
Contests/Tools/2.out
Contests/Tools/2.in
Contests/Tools/1.out
Contests/Tools/1.in
Contests/Tools/.time_info
Contests/Tools/test
Contests/Tools/test.cpp
Contests/Tools/test.out
