/Player.class
/botHealer.class
/botKnight.class
/botMage.class
/botRanger.class
/botWorker.class
/structFactory.class
/structRocket.class
/Attacker.class
/Globals.class
/Movable.class
/Attackable.class
/Test.class
/Structure.class
/pii.class
/compare.class
/UnitComparator.class
/HealthComparator.class
/UnitComparatorEarth.class
/UnitComparatorMars.class
/MapLocationComparator.class
/PiiComparator.class
/fastGC.class
/genBFS.class
/WorkerComparator.class
/CumSum.class
